


@import "./bootstrap/less/bootstrap.less";


.svg_container {
	           display:inline-block;
		   position: relative;
		   width: 100%;
		   padding-bottom: 50%;		
		   vertical-align: top;
		   overflow: hidden;

}
.svg_content {

    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

}
.svg_parent{
	
	height:55% !important;
	overflow:visible;
	position:relative;
}
#dropdown-year{
	min-width:50px;
}

.control-label{
	display:inline-block;
	
}

.no-gutter [class*=""] {
	   padding-left:0;
	   padding-right:0;
}
.area{
	stroke-opacity:1;
	stroke-width: 1px;
	stroke:darkgrey;
	fill:lightgrey;
	
}
.active{
	fill:red;
	
}
.stack0{
	stroke:darkgrey;
}
