


@import "./bootstrap/less/bootstrap.less";

@font-face {	
     font-family: "Computer Modern";
     src: url('cmunorm.otf');
     font-style:normal;
}

@font-face {	
     font-family: "Computer Modern";
     src: url('cmunobx.otf');
     font-weight:bold;
}

@font-face {	
     font-family: "Computer Modern";
     src: url('cmunoti.otf');
     font-style:italic;
}

@font-face {	
     font-family: "Computer Modern";
     src: url('cmunobi.otf');
     font-weight:bold;
     font-style:italic,oblique;
}

body{

	font-family:"Computer Modern", serif;		
	font-style:normal;	
}

.caption{

	text-align: center;
	font-style:italic;			
	font-size:1em;	
}

.graphContainer{

	margin-bottom:1%;
	margin-top:1%;
}
.historical{


	padding-top:2%;
}

.citation{

	font-size:.7em;
	display:inline-block;
	margin-bottom: 1%;

}
.rule-list{
	display:inline-block;

}
.italic{

}
.svg_container {
	           display:inline-block;
		   position: relative;
		   width: 100%;
		   padding-bottom: 60%;		
		   vertical-align: top;
		   overflow: hidden;
		   font-style:italic;

		   
}
.svg_content {

    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

}
.svg_parent{
	
	height:55% !important;
	overflow:visible;
	position:relative;
}
#dropdown-year{
	min-width:50px;
}

.control-label{
	display:inline-block;
	
}

.no-gutter [class*=""] {
	   padding-left:0;
	   padding-right:0;
}
.area{
	stroke-opacity:1;
	stroke-width: 1px;
	stroke:darkgrey;
	fill:lightgrey;
	
}
.dli{
	stroke-opacity:1;
	stroke-width: 1px;
	stroke:dodgerblue;
	fill:lightskyblue;
}

.stack1 {
	stroke-opacity:1;
	stroke-width: 0px;
	stroke:mediumvioletred;
	fill:hotpink;
}
.active{
	fill:red;
	
}
.stack0{
	stroke:darkgrey;
}
.radarCircle{
	fill:none;
	stroke-width:1px;
	stroke:darkGrey;
}
.axislines{
	stroke-width:1px;
	stroke:darkGrey;
}
.radarPath{

	fill:grey;
	
}
.radarAxisLine{
	fill:none;	
	stroke-width:1px;
	stroke:darkGrey;
}

#radar-plot{

	padding-bottom: 100%;		
}
.legend{
	width:100%;
	font-size:0.8em;
}
.form-horizontal{
    margin-bottom:2%;
}
.rect1{
	stroke-opacity:1;
	stroke-width: 1px;


}
.rect0{
	stroke-opacity:1;
	stroke-width: 1px;


}
.rect2{
	stroke-opacity:1;
	stroke-width: 1px;


}

.nomargintop{
	margin-top:0;
}
.nomarginbottom{
	margin-bottom:0;
}
.nopadding{
	padding:0;
}
.nopaddingright{
	padding-right:0;
}
.nopaddingleft{
	padding-left:0;
}
.fullwidth{
	width:100%;
	display:block;
}
.activeRadar{
	opacity:0.5;
}
.line{
	fill:none;
	stroke:#000;
	stroke-width:1.5px;
}

.yesterday, .today{

    display:none;
}

.zoom {
      cursor: move;
      fill: none;
      pointer-events: all;
}
.areaZoom{

	stroke-width:1px;


}
.selection{
	fill:red;
}


.splash{

	position:fixed;
	background-color:white;	
	width:100%;
	height:100%;
	z-index:2;
	
	display:none;

}
.splash-one{
	display:none;	
}
.splash-two{
	display:none;
}
.splash-contact{
	height:80%;
	font-size:3em;
	margin-top:15%;

}

.splash-content{
	text-align:center;
	
}
.splash-enter{
	
	font-size:3em;
}
.splash-abstract{
	text-align:justify;
	font-size:1.2em;
	padding:2% 5% 0% 5%;
}
.realtime-description{
    text-align:justify;
    text-indent: 3em;
    display:none;
    margin-bottom: 2%;
    font-size:1.2em;
}
.historical-description{
    text-align:justify;
    text-indent: 3em;
    margin-bottom: 2%;
    font-size:1.2em;

}
.nav{
	font-size:1.2em;
}
.top{

	background-color:white;
	z-index:1;

}
.top-wrapper{

		    

}
.first{

	display:none;
	
}


.axis{

	font-size:.8em;
}
.label{
	font-size:1em;
}

.streamGraph-label{
    font-size:.6em;
}
hr{
    margin-top:0;
    margin-bottom:.5em;
}

.dashboard{
    display:none;
    margin-bottom:2%;
}
.numbers{
	font-size:3em;

}
.units {
       font-size:.5em;
}
.names {
    font-size:1em;
    font-weight:bold;
}

.note{
    font-size:.8em;
}
.acronyms {
	  font-size:1em;
}
.time {
      display:inline-block;
      margin:0;
      font-size:42px;
}
.numbers-time{
	font-size:0px;
	display:inline-block;
}

.tick{

    font-size:.8em;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    #stream-graph {

	padding-bottom:15%;
	
    }


    #yesterday, #today {
	padding-bottom: 65%;
    }
    

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


    #stream-graph {

	padding-bottom:25%;
	
    }


    #yesterday, #today {
	padding-bottom: 50%;
    }
    
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {



    #stream-graph {

	padding-bottom:15%;
	
    }

    #yesterday, #today {
	padding-bottom: 45%;
    }
    
    
}

