ul {
  list-style-type: none;
  margin: 1em;
  padding: 0em;
  text-align: right;
}
td {
  vertical-align: top;
}
td ._date_ {
  vertical-align: top;
  margin: 0em;
  padding: 0em;
  text-align: right;
}
li {
  margin: 0em;
  padding: 0em;
  text-align: right;
}
#container {
  width: 100%;
}
#container_table {
  width: 100%;
}
#_container_column_scatterplot_ {
  width: 80%;
}
#_container_column_date_ {
  width: 20%;
}
#_date_ {
  vertical-align: top;
  display: inline-block;
}
#_date_table_container_ {
  text-align: right;
  vertical-align: top;
}
#_date_table_ {
  text-align: center;
}
#_svg_ {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  height: 60%;
}
._svg_content_ {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
}
